{% extends "base_admin.html" %}

{% block content %}
    
    <div class="content-header">
        <h2>Listado de Departamentos</h2>
        
        <div class="actions-header">
            <a href="{% url 'organizacion:departamento_create' %}" class="btn btn-primary">
                Crear Nuevo Departamento
            </a> 
            <a href="{% url 'main_admin' %}" class="btn btn-secondary">
                Volver al Menú
            </a> 
        </div>
    </div>

    {% if departamentos %}
        
        <div class="card-grid">
            
            {% for depto in departamentos %} 
            <div class="card">
                
                <div class="card-body">
                    <h3>{{ depto.departamento }}</h3>
                    
                    <p class="card-data">
                        <strong>Nro:</strong> {{ forloop.counter }}
                    </p>
                    <p class="card-data">
                        <strong>Encargado:</strong> {{ depto.nombre_encargado }}
                    </p>
                    <p class="card-data">
                        <strong>Dirección:</strong> {{ depto.direccion.nombre_direccion }}
                    </p>
                    <p class="card-data">
                        <strong>Estado:</strong>
                        {% if depto.activo %}
                            <span class="badge badge-success">Activo</span>
                        {% else %}
                            <span class="badge badge-danger">Inactivo</span>
                        {% endif %}
                    </p>
                </div>
                
                <div class="card-footer">
                    <a href="{% url 'organizacion:departamento_detail' depto.pk %}" class="btn btn-sm btn-primary">Ver</a> 
                    <a href="{% url 'organizacion:departamento_update' depto.pk %}" class="btn btn-sm btn-primary">Editar</a> 
                    {% if depto.activo %}
                        <a href="{% url 'organizacion:departamento_update' depto.pk %}?action=bloquear" class="btn btn-sm btn-primary">Bloquear</a>
                    {% else %}
                        <a href="{% url 'organizacion:departamento_update' depto.pk %}?action=activar" class="btn btn-sm btn-primary">Activar</a>
                    {% endif %}
                </div>
                
            </div>
            {% endfor %}
            </div>
        
    {% else %}
        <p>No hay departamentos registrados.</p>
    {% endif %}

{% endblock content %}