{% extends "base_admin.html" %}

{% block content %}
    
    <div class="content-header">
        <h2>Listado de Direcciones</h2>
        
        <div class="actions-header">
            <a href="{% url 'organizacion:direccion_create' %}" class="btn btn-primary">
                Crear Nueva Dirección
            </a> 
            <a href="{% url 'main_admin' %}" class="btn btn-secondary">
                Volver al Menú
            </a> 
        </div>
    </div>

    {% if direcciones %}
        
        <div class="card-grid">
            
            {% for dir in direcciones %} 
            <div class="card">
                
                <div class="card-body">
                    <h3>{{ dir.nombre_direccion }}</h3>
                    
                    <p class="card-data">
                        <strong>Nro:</strong> {{ forloop.counter }}
                    </p>
                    <p class="card-data">
                        <strong>Encargado:</strong> {{ dir.nombre_encargado }}
                    </p>
                    <p class="card-data">
                        <strong>Estado:</strong>
                        {% if dir.activa %}
                            <span class="badge badge-success">Activa</span>
                        {% else %}
                            <span class="badge badge-danger">Bloqueada</span>
                        {% endif %}
                    </p>
                </div>
                
                <div class="card-footer">
                    <a href="{% url 'organizacion:direccion_detail' dir.pk %}" class="btn btn-sm btn-primary">Ver</a> 
                    <a href="{% url 'organizacion:direccion_update' dir.pk %}" class="btn btn-sm btn-primary">Editar</a> 
                    
                    {% if dir.activa %}
                        <a href="{% url 'organizacion:direccion_update' dir.pk %}?action=bloquear" class="btn btn-sm btn-primary">Bloquear</a>
                    {% else %}
                        <a href="{% url 'organizacion:direccion_update' dir.pk %}?action=activar" class="btn btn-sm btn-primary">Activar</a>
                    {% endif %}
                </div>
                
            </div>
            {% endfor %}
            </div>
        
    {% else %}
        <p>No hay direcciones registradas.</p>
    {% endif %}

{% endblock content %}