{% extends "base_admin.html" %} {% block content %}
    
    <div class="content-header">
        <h2>Listado de Incidencias</h2>
        
        <div class="actions-header">
            <a href="{% url 'solicitud_create' %}" class="btn btn-primary">
                Crear Nueva Incidencia
            </a> 
            <a href="{% url 'main_admin' %}" class="btn btn-secondary">
                Volver al Menú
            </a> 
        </div>
    </div>

    {% if solicitudes %}
        
        <div class="card-grid">
            
            {% for sol in solicitudes %} 
            {% with encuesta=sol.encuesta_set.first %} <div class="card">
                
                <div class="card-body">
                    <h3>{{ encuesta.titulo|default:"(Sin título)" }}</h3>
                    
                    <p class="card-data">
                        <strong>ID:</strong> {{ sol.id }}
                    </p>
                    <p class="card-data">
                        <strong>Tipo:</strong> {{ sol.tipo_incidencia }}
                    </p>
                    <p class="card-data">
                        <strong>Cuadrilla:</strong> {{ sol.cuadrilla.nombre_cuadrilla|default:"Sin asignar" }}
                    </p>
                    <p class="card-data">
                        <strong>Creación:</strong> {{ sol.fecha_creacion|date:"d/m/Y H:i" }}
                    </p>
                    
                    <p class="card-data">
                        <strong>Estado:</strong>
                        <span class="badge badge-success">{{ sol.estado }}</span>
                        
                        {% if encuesta %}
                            <span class="badge {% if encuesta.activa %}badge-success{% else %}badge-danger{% endif %}" title="Estado de la Encuesta">
                                Encuesta {% if encuesta.activa %}Activa{% else %}Inactiva{% endif %}
                            </span>
                        {% endif %}
                    </p>
                </div>
                
                <div class="card-footer">
                    <a href="{% url 'solicitud_detail' sol.pk %}" class="btn btn-sm btn-primary">
                        <i class="fa-solid fa-eye"></i> Ver
                    </a> 

                    {% if sol.estado != 'FINALIZADA' %}
                        <a href="{% url 'solicitud_update' pk=sol.pk %}" class="btn btn-sm btn-primary">
                            <i class="fa-solid fa-pencil"></i> Editar
                        </a>
                    {% endif %}
                    
                    <a href="{% url 'solicitud_delete' sol.pk %}" class="btn btn-sm btn-danger" title="Eliminar Incidencia">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
                
            </div>
            {% endwith %}
            {% endfor %}
            </div>
        
    {% else %}
        <p>No hay solicitudes de incidencia registradas.</p>
    {% endif %}

{% endblock content %}