{% extends "registration/base_registration.html" %}
{% load static %}

{% block title %}Iniciar Sesión - Comuna UA{% endblock %}

{% block content %}
<div class="login-container">

    <div class="login-form-wrapper">

        <header class="login-header">
            <img src="{% static 'img/logo.png' %}" alt="Logo Comuna UA">
            <h1>Comuna UA</h1>
        </header>

        <p>Conéctate a tu perfil.</p>

        <form class="login-form" method="post">
            {% csrf_token %}

            <h2>Inicia Sesión</h2>
            <p>Accede con las credenciales registradas</p>

            {% if form.non_field_errors %}
                <div class="form-errors">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Correo Electrónico</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="form-errors">{{ form.username.errors.as_text }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Contraseña</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="form-errors">{{ form.password.errors.as_text }}</div>
                {% endif %}
            </div>

            <div class="form-options">
                <div class="checkbox-group">
                    <input type="checkbox" id="remember_me">
                    <label for="remember_me">Mantener sesión</label>
                </div>
                <a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a>
            </div>

            <button type="submit" class="btn-submit">Iniciar sesión</button>

            <!-- <p class="register-link">
                ¿No tienes una cuenta? 
                <a href="{% url 'signup' %}">Regístrate</a>
            </p> -->

        </form>
    </div>

    <div class="login-decoration">
        <div class="mapa-decorativo-unico"></div>
    </div>

</div>
{% endblock %}
